azure-identity>=1.14.0
boto3
fastapi
fastmcp
fastmcp-http
google-api-python-client
google-auth 
google-auth-httplib2
google-auth-oauthlib
langchain
langchain-community
mcp[cli]
msal==1.32.3
msgraph-core>=1.0.0
msgraph-sdk>=1.0.0
nest_asyncio
openai
PyGithub
slack-sdk==3.35.0
uvicorn
