USE_MINIO=True
S3_BUCKET=bucket
AWS_ACCESS_KEY_ID=root
AWS_SECRET_ACCESS_KEY=password
S3_ENDPOINT_URL=http://minio:9000
AWS_REGION=us-east-1

OPENAI_API_KEY=<openai-key>
#OPENAI_API_BASE=http://192.168.29.53:1234/v1  # in case of local llm


GITHUB_TOKEN=<github-personal-token>
GDRIVE_ROOT_FOLDER_ID=<google-drive-root-folder-id>
TRANSPORT=sse

YOUTRACK_URL=https://scryanalytics.myjetbrains.com
YOUTRACK_TOKEN=<youtrack-token>
SLACK_BOT_TOKEN=<slack-bot-token-starting-with-xoxb>

ZOOM_ACCOUNT_ID=<acc-id-for-server-to-server-app>
ZOOM_CLIENT_ID=<client-id-for-server-to-server-app>
ZOOM_CLIENT_SECRET=<client-secret-for-server-to-server-app>

ONEDRIVE_CLIENT_ID=your-client-id
ONEDRIVE_CLIENT_SECRET=your-client-secret
ONEDRIVE_TENANT_ID=your-tenant-id
ONEDRIVE_ROOT_FOLDER_ID=your-folder-id