boto3
faiss-cpu
fastmcp
fastmcp-http
google-api-python-client
google-auth
google-auth-httplib2
langchain
langchain-community
langchain-openai
mcp[cli]
openai
PyMuPDF
python-docx 
sentence-transformers
torch
