mcp[cli]
boto3
fastmcp
openai
langchain
fastmcp-http
langchain-community
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-auth 
PyGithub
slack-sdk==3.35.0
msal==1.32.3
msgraph-core>=1.0.0
msgraph-sdk>=1.0.0
azure-identity>=1.14.0
fastapi
uvicorn
nest_asyncio
python-docx 
PyMuPDF 
aiohttp
kiota-abstractions>=1.0.0